{% extends "libmgmtproject/layout.html" %}

{% block 'title' %}
  Welcome
{% endblock %}

{% block 'container' %}
  <h2>Welcome to Library Management System</h2>
  <form action="{% url 'libapp:login' %}" method="POST" novalidate="novalidate">
    {% csrf_token %} 
    <!-- <p>
      <input type="text" name="username" placeholder="Enter Username">
    </p>
    <p>
      <input type="password" name="password" placeholder="Enter Password">
    </p> -->
    {{form.as_p}}
    <p>
      <button type="submit">Login</button>
    </p>
    <a href="{% url 'libapp:registerhere' %}">Register Here!</a>
  </form>
{% endblock %}