{% extends "libmgmtproject/layout.html" %}

{% block 'title' %}
  Welcome To ur app
{% endblock %}

{% block 'container' %}
  <span>Welcome {{ username }}</span>
  <a href="{% url 'libapp:logout' %}">Logout</a>

  <h2>Library Management System</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Pages</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for book in booklist %}
        <tr>
          <td>
            {{ book.title }}
          </td>
          <td>
            {{ book.price }}
          </td>
          <td>
            {{ book.pages }}
          </td>
          <td>
            <a href="{% url 'libapp:getbook' book.id %}">Details</a>
          </td>
          <td>
            {% if book.cannotissue %}
              <i>Cannot Issue</i>
            {% elif book.alreadyissued %}
              <a href="{% url 'libapp:returnbook' book.id %}">Return Book</a>
            {% else %}
              <a href="{% url 'libapp:issuebook' book.id %}">Issue Book</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}